# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science.
- List commonly used libraries by Data Scientists.
- List development environment open source tools used in Data Science.
- Evaluate arithmetic expressions in python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. PyTorch
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("200 minutes is", hours, "hours")

200 minutes is 3.3333333333333335 hours

## Author
Nishali Kolambage